* {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

body {
  background-image: url(bgswim.jpg);
  background-size: cover;
}

h1 {
  color: #ececec;
  font-size: 120px;
  text-align: center;
  text-shadow: 1px 1px 10px rgb(92, 92, 92), 1px 1px 10px rgb(0, 0, 0);
}

.menu {
  width: 50%;
  height: auto;

  display: flex;
  margin: 0px auto;

  border-radius: 26px;
  background: rgba(0, 0, 0, 0.4);

  padding: 3% 3%;
}
.inner {
  width: 100%;
  height: 100%;

  background-color: #000000;
  border-radius: 26px;

  padding: 20px 35px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 5px 2px;
}
#text {
  font-size: 32px;
  color: white;
}
input {
  margin-left: auto;
  width: 70px;
  font-size: 32px;
}

#submit {
  background-color: rgb(76, 255, 76);
  border-radius: 15px;

  margin: 0 auto;

  height: 60px;
  width: auto;

  font-size: 32px;
}
