* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Flag_of_Catania.svg/1280px-Flag_of_Catania.svg.png);
  /* background: #e7e7e7; */
  background-position: center;
  background-size: cover;
}

#title{
  margin: 40px auto;
  padding: 10px;
  width: 40%;

  display: flex;
  justify-content: center;

  background-color: black;
  box-shadow: 0.4vw 1.2vw 0px 0px rgba(140,140,140,1),
  inset 0.4vw 1vw 0px 0px rgba(140,140,140,1);

  border-style: solid;
  border-width: 10px;
  border-color: rgb(187, 187, 187);
  border-radius: 20px;

}
h1 {
  
  width: 50%px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 4vw;
}
#title_s{
  color: #027FFF;
  text-shadow: 1px 2px 0px #970a00;
}
#title_k{
  color: #f81606;
  text-shadow: 1px 2px 0px #004891;
}

.inner {
  display: flex;
  flex-direction: column;
  
  width: 40%;
  height: auto;
  margin: 0 auto;

  background-color: rgba(0, 0, 0, 1);
  
  box-shadow: 0.4vw 1.2vw 0px 0px rgba(140,140,140,1),
  inset 0.4vw 1vw 0px 0px rgba(140,140,140,1);
  border-radius: 26px;
  border: 10px solid rgb(187, 187, 187);

  padding: 2% 2%;

}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1% auto;
}
hr{
  height: 2px !important;
  background-color: white ;
}

#text {
  text-align: center;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  color: white;
}
input {
  border-radius: 7px;
  padding: 5px 5px;
  margin-left: auto;
  width: 120px;
  font-size: 18px;
}
#team1:placeholder-shown{
background-color: rgb(182, 132, 132);
}
#team2:placeholder-shown{
  background-color: rgb(122, 148, 196);
  }
/* for nscore */
#nscore{
  text-align: center;
  width : 120px;
  height : 40px;
  font-size: 28px;
  margin : 0px auto;
  padding: 2px 2px;
}
#nscore:placeholder-shown{
  background-color: rgb(211, 210, 210);
}

#submit {

  padding: 2% 3%;
  background-color: #1cdb03;
  color: #000000;
  
  margin: 0 auto;
  border-radius: 15px;

  height: auto;
  width: auto;

  font-weight: bold;
  font-size: 24px;

  transition: 0.3s;

}
#submit:hover{
  box-shadow: 0px 3px 0px 0px rgba(255,255,255,0.75);
  transition: 0.3s;
  transform: translateY(-2px);
  background-color: rgb(43, 255, 43);
}
