*{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

body{
    background-image: url(bgswim.jpg);
    background-size: cover;
}

h1{
    color: #ffffff;
    font-size: 120px;
    text-align: center;
}

.menu{
    width: 900px;
    height: 400px;

    display: flex;
    margin: 0px auto;
    
    border-radius: 26px;
    background : rgba(0, 0, 0, 0.4);

    padding: 5% 5%;
    
}
.inner{
    width: 100%;
    height: 100%;

    background-color: #ffffff;
    border-radius: 26px;
}